<div class="container">
    <div class="row">
      <div class="col-xs-12">
        <form [formGroup]="userForm" (ngSubmit)="onSubmit()">    
            <div class="row">
                <div class="col-xs-12">
                  <button type="submit" class="btn btn-success" [disabled]="!userForm.valid">Save</button>
                  <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
              </div>
            </div>  
          <hr>
          <div class="row">
            <div class="col-xs-12">
              <div class="form-group">
                <label for="oldPassword">Old Password</label>
                <input 
                    type="password" 
                    id="oldPassword" 
                    formControlName="oldPassword" 
                    class="form-control">
              </div>
            </div>
          </div>
          <div class="row">
              <div class="col-xs-12">
                <div class="form-group">
                  <label for="password">New Password</label>
                  <input 
                      type="password" 
                      id="password" 
                      formControlName="password" 
                      class="form-control">
                </div>
              </div>
            </div>
          <div class="row">
            <div class="col-xs-12">
              <div class="form-group">
                <label for="confirmPassword">Confirm New Password</label>
                <input 
                    id="confirmPassword" 
                    formControlName="confirmPassword"
                    type="password" 
                    class="form-control">
                <span *ngIf="userForm.hasError('notSame') && userForm.get('confirmPassword').touched" style="color: red"> Passwords must be identical!</span>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>