<div class="container">
    <div class="row">
      <div class="col">
        <section>
          <div class="row">
            <h3>{{taskWithComments?.task?.title }} <h5 class="pull-right">Created: {{taskWithComments?.task?.date}}</h5></h3> 
          </div>
          <div class="row">
            <h5>Status: {{taskWithComments?.task?.status?.statusName}}</h5>
          </div>
          <div class="row">
            <h5>Owner: {{taskWithComments?.task?.owner?.firstName}} {{taskWithComments?.task?.owner?.lastName}} 
              <div *ngIf="authService.isHDSpecialist() || authService.isAdmin() ||
                   taskWithComments?.task?.assignedTo?.id === userId || taskWithComments?.task?.owner?.id === userId">
                  <div class="margin-left btn-group pull-right" dropdown>
                      <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
                        Change Status <span class="caret"></span>
                      </button>
                      <ul *dropdownMenu class="dropdown-menu" role="menu">
                        <li *ngIf="taskWithComments?.task?.status?.id!==1" role="menuitem">
                            <a class="dropdown-item" (click)="changeStatus(1)">Open</a>
                        </li>    
                        <li *ngIf="taskWithComments?.task?.status?.id!==3" role="menuitem">
                          <a class="dropdown-item" (click)="changeStatus(3)">Canceled</a>
                        </li>
                        <li *ngIf="taskWithComments?.task?.status?.id!==4" role="menuitem">
                          <a class="dropdown-item" (click)="changeStatus(4)">Closed</a>
                        </li>
                      </ul>
                  </div>
              </div>
              <button class="pull-right btn btn-info" (click)="goBack()">Go Back</button>
            </h5>
            <h5 *ngIf="taskWithComments?.task?.assignedTo">
              Assigned to: {{taskWithComments?.task?.assignedTo?.firstName}} {{taskWithComments?.task?.assignedTo?.lastName}} </h5>          
          </div>
        </section>
        <hr>
        <section class="main">
          <div *ngFor="let comment of taskWithComments?.comments;" > 
            <div class="row">
              <div *ngIf="userId === comment.author.id" class="container col-xs-9 col-sm-9 col-md-9 col-lg-9" 
                    style="background-color: #c6d9ec; border-radius: 5px" >    
                    {{comment.message}}
                    <p><small>{{comment.author.firstName}} {{comment.author.lastName}}  {{comment.date}} </small></p>
              </div>
            </div>
            <div class="row">
              <div *ngIf="userId !== comment.author.id" class="container ol-xs-offset-3 col-sm-offset-3 col-md-offset-3 col-lg-offset-3
                    col-xs-9 col-sm-9 col-md-9 col-lg-9" 
                    style="background-color: #e4e5e7; border-radius: 5px" >    
                    {{comment.message}}
                    <p><small>{{comment.author.firstName}} {{comment.author.lastName}}  {{comment.date}}</small></p>
              </div>
            </div>
            <p></p>
          </div>
        </section>
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <textarea
                        type="text"
                        [(ngModel)]="newComment"
                        class="form-control"
                        rows="6"></textarea>
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-success" (click)="onSubmit()">Submit</button>
      </div>
    </div>
  </div>